<div fade-in>
  <div class="jumbotron">
    <h1>Fresh Rss News</h1>
    </br>
    <label for="search">Search</label>
    <input id="search" type="text" ng-model="queryTerm" placeholder="What are you looking for?" ng-change="rssFeederServicePromise(queryTerm)"/>
    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>
  </div>

  <div class="fixrss" ng-repeat="n in news">
    <div>
      <h3><a href="{{n._source.link}}">{{n._source.title}}</a></h3>
      <p>{{n._source.pubdate}}</p>
      <div ng-bind-html="n._source.description">
      </div>
    </div>
  </div>
</div>
