<div>
  <span>{{ message }}</span>

  <div class="jumbotron">
    <h1>Fresh Rss News</h1>
    </br>
    <label for="search">Search</label>
    <input id="search" type="text" ng-model="queryTerm" placeholder="What are you looking for?"
           ng-change="rssFeederService(queryTerm)"/>
  </div>

  <div class="fixrss" ng-repeat="n in news">
    <div>
      <h3><a href="{{n._source.link}}">{{n._source.title}}</a></h3>

      <p>{{n._source.pubdate}}</p>

      <div ng-bind-html="n._source.description">
      </div>
    </div>
  </div>
</div>
